*{
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
}

#abdecker {
    width: 400px;
    height: 400px;
    background-color: lightgrey;
    position: relative;
    left: 1px;
    top: -401px;
    display: none;
}

#control-field {
    position: absolute;
    top: 560px;
    /* border: solid blue; */
    /* margin-top: 20px; */
}

#main-field {
    background-color: lightgrey;
    width: 400px;
    height: 400px;
    font-size: 0;
    border: solid;
    border-color: grey;
    border-width: 1px;
}

.pixelOne {
    background-color: darkslategrey;
    width: 2px;
    height: 2px;
    display: inline-block;
}
.pixelTwo {
    background-color: lightgrey;
    width: 2px;
    height: 2px;
    display: inline-block;
}

.button {
    cursor: pointer;
}
