#area {
    background-color: lemonchiffon;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#terminal{
    position: absolute;
    top: 500px;
}

#result-text{
    background-color: firebrick;
    color: gold;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
