body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgba(207, 158, 79);
}

#area {
    background-color: lemonchiffon;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.reference-line-x{
    background-color: rgba(207, 158, 79, 0.534);
    width: 1px;
    height: 500px;
    position: absolute;
    top: 0px;
}

.reference-line-y{
    background-color: rgba(207, 158, 79, 0.534);;
    width: 500px;
    height: 1px;
    position: absolute;
    left: 0px;
}


#terminal{
    position: absolute;
    top: 500px;
}

#result-text{
    background-color: firebrick;
    color: gold;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
