* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#zero {
    background-color: red;
    width: 2px; 
    height: 2px;
    left: 100px;
    top: 100px;
    position: absolute;
}

#ball {
    background-color: blue;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 100;
}
#container {
    left: 100px;
    top: 100px;
    position: absolute;
}

.wall-element {
    background-color: black;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 10px;
}


#control-terminal {
    background-color: lightgrey;
    width: 300px;
    height: 150px;
    position: relative;
    top: 200px;
}

.bold {
    font-weight: 900;
}

.terminal-element{
    display: inline-block;
    width: 30px;
}