* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-field {
    background-color: lemonchiffon;
    width: 600px;
    height: 600px;
}

#ball-container {
    position: relative;
}

#ball {
    background-color: blue;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
}

#wall-container {
    position: relative;
}

.wall-element {
    background-color: black;
    width: 30px;
    height: 30px;
    position: absolute;
}


#control-terminal {
    background-color: lightgrey;
    width: 300px;
    height: auto;
    position: relative;
    top: 20px;
    border-color: grey;
    border-style: solid;
    padding: 10px;
}

.bold-title{
    font-weight: 900;
    text-align: center;
    margin: 0px;
    font-size: 18px;
    border-bottom-style: solid;
    border-width: 2px;
}

.terminal-element{
    display: inline-block;
    width: 30px;
}